html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        meta(name='description', content='')
        meta(name='author', content='')
        //
            make-favicon
        link(rel='icon', type ='image/x-icon',href='/images/favicon.ico')
        title 은행잎필무렵
        //
            Bootstrap core CSS
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        //
            Custom styles for this template
        link(href='/stylesheets/chat.css', rel='stylesheet')
    body
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .col-md-6.col-md-offset-3.navDiv
                button.btn.btn-lg.btn-block.logout(onclick='location.href=\'/user/logout\';')  로그아웃
                #title(onclick = 'toMain()')
                    | 은행잎필무렵
                button.btn.btn-lg.btn-block.user(onclick='location.href=\'/user/review\';')  고객센터
        .container
            .row
                .col-md-6.col-md-offset-3
                    #chatRoom
                        #chatTitle
                            h2#t1 랜덤채팅
                            h4#t2 최대 3명까지 입장 가능합니다
                            button.btn.btn-lg.btn-primary#requestRandomChat 채팅시작
                            button.btn.btn-lg.btn-primary#cancelRequest 그만찾아요
                            button.btn.btn-lg.btn-primary#requestDisconnect 채팅나가기
                        #chatField
                        #chatInput
                            input#inputText(type='text')
                            button#sendChat.btn(type='submit') 보내기
        //
           /container
        //
           Bootstrap core JavaScript
              ==================================================
        //
           Placed at the end of the document so the pages load faster
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.1/iscroll-infinite.min.js')
        script(src='/javascripts/chat.js')
        script(src='/javascripts/googleAnalytics.js')