<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--make-favicon -->
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">

    <title>skkuApp 로그인 페이지</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/register.css" rel="stylesheet">
</head>

<body>

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">skkuApp 회원가입</h2>
        <input type="id" class="form-control" placeholder="아이디" required="" autofocus="">
        <input type="password" class="form-control" placeholder="비밀번호" required="">
        <input type="password" class="form-control" placeholder="비밀번호 재확인" required="" onchange="validPassword()">
        <input type="email" class="form-control" placeholder="이메일" required="">
        <button class="btn btn-lg btn-primary btn-block signUp" type="submit">회원가입</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src = '/js/register.js'></script>

</body></html>