body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "맑은 고딕", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #E7EAEB;
    padding-top: 60px;
}

nav.navbar {
    background-color: #5a5a5a;
    min-height: 40px;
}

.writePostCard {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: #525252;
}

#introduction {
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(230,121,104,0.45);
    background-color: #E57766;
    color : #eeeeee;
    font-size: 15px;
}

#writePost {
    margin-top : 20px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 2px;
}

.cardList {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    color: #525252;
}

.col-md-5.col-md-offset-3.card {
    margin-top : 20px;
    background-color: #fff;
    border-radius: 2px;
    border : 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
}

.cardInfomation {
    width: 100%;
    height : 20px;
    1border : 1px solid black;
    font-size: 12px;
    margin-top: 10px;
}

.cardInfomation .cardNum {
    width: 80px;
    height : auto;
    float: left;
    border : 1px solid black;
    text-align: left;
    margin-left: 15px;
}

.cardInfomation .cardCommitTime {
    width : 90px;
    height : auto;
    float : right;
    border : 1px solid black;
    text-align: right;
    margin-right: 15px;
}

.col-md-5.col-md-offset-3.card .cardBody {
    clear: both;
    margin-top: 6px;
    margin-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.cardStatus {
    clear: both;
    width: 100%;
    height : 30px;
    border : 1px solid black;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.cardStatus .likeCount {
    float : left;
    width : 60px;
    height : 30px;
}

.cardStatus .commitCount{
    float : left;
    width : 60px;
    height : 30px;
}