//indent, space
DOCTYPE 5
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    //
      make-favicon 
    link(rel='shortcut icon', href='http://getbootstrap.com/assets/ico/favicon.ico')
    title 은행잎필무렵 로그인 페이지
    //
       Bootstrap core CSS 
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    //
       Custom styles for this template 
    link(href='/css/signin.css', rel='stylesheet')
  body
    .container
      form.form-signin(role='form')
        h2.form-signin-heading 로그인
        input.form-control(type='id', placeholder='아이디', required='', autofocus='')
        input.form-control(type='password', placeholder='비밀번호', required='')
        label.checkbox
          input(type='checkbox', value='remember-me')
          | 로그인 상태 유지
        button.btn.btn-lg.btn-primary.btn-block(type='submit') 로그인
    //
       /container 
    //
       Bootstrap core JavaScript
          ================================================== 
    //
       Placed at the end of the document so the pages load faster 
